.header, .footer{
    background-color: #1f2937;
    font: "Roboto";
    padding-left: 50px;
    padding-right: 50px;
}

.heading {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
}

.heading img {
    width: 40px;
    height: auto;
}
.intro_window {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 10px;
}

.intro_window img {
    width: 400px;
    height: 200px;
    margin: 50px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.intro h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0;
}

.intro h2 ,.information ul{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}

.intro button{
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 5px;
    margin-bottom: 50px;
    border: none;
    padding: 5px 20px;
    font-weight: 900;
    font-size: 16px;
}

.intro button:active, .right button:active {
    background-color: #0056b3;
  transform: translateY(2px); 
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
} 

.intro button:hover, .right button:hover{
  background-color: #2c6ee6; /* slightly darker blue */
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.information {
    display:  flex;
    flex-direction: column;
    align-items: center;
}

.information div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 50px;
}

.information ul{
    list-style-type: none;
    display: flex;
    align-items: baseline;
    gap: 50px
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #565d68;
    font-weight: 300;
    margin-top: 0;
}

.quote p:nth-of-type(3) {
    align-self: flex-end;
    font-size: 18px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 0;
}

.action {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #3882F6;
    margin: 80px 130px;
    padding: 50px 100px;
}

.left{
    color: #E5E7Eb;
    font-size: 18px;
}

.left_title {
    font-weight: 900;
    color: #F9FAF8;
    font-size: 24px;
}

.right {
    align-self: flex-end;
}

.right button {
    background-color: #3882F6;
    border-color: #F9FAF8;
    color: #F9FAF8;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 900;
    font-size: 16px;
}

.footer a{
    align-self: flex-end;
    font-size: 18px;
    color: #E5E7EB;
}

.footer {
    display: flex;
    color: #E5E7EB;
    justify-content: space-around;
    align-self: flex-end;
}