header{
    background-color: #1f2937;
    font: "Roboto";
}

.heading {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
}

.heading img {
    width: 40px;
    height: auto;
}
.intro_window {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 10px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.intro h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0;
}

.intro h2 {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}

.intro button {
    color: #E5E7EB;;
    background-color: #3882F6;
    border-radius: 5px;
    margin-bottom: 50px;
}

.intro_window img {
    width: 400px;
    height: 200px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}